<div class="timeline skip-top-unrelated">
	<div class="line text-muted"></div>
	<ng-repeat ng-repeat="activity in activityFeed | orderBy : '-id'">
		<ng-switch on="activity.entityType">
			<ng-switch-when ng-switch-when="comment">
				<div class="panel panel-default">
		            <div class="panel-heading icon">
        		        <i class="glyphicon glyphicon-comment"></i>
            		</div>
				
					<div class="panel-heading">
					   <dms-user user-id="activity.userId" name="activity.username"></dms-user>
					   commented
						<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
					</div>
					<div class="panel-body">
						{{activity.text}}
					</div>
				</div>				
			</ng-switch-when>
			<ng-switch-when ng-switch-when="activity">
				<ng-switch on="activity.type">
					<ng-switch-when ng-switch-when="CREATED">
					 	<div class="panel panel-default panel-outline">
			            <div class="panel-heading icon">
							<i class="glyphicon glyphicon-plus"></i>
			            </div>
			            <div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> created document <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
			            </div>
					 	</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="TAGGED">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-tags"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> tagged <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> as <span class="label label-default">{{activity.arguments[0]}}</span>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="RENAMED">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-edit"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> renamed <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> to <strong>{{activity.arguments[0]}}</strong>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="SET_DESCRIPTION">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-edit"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> updated the description of <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="MARKED_COMPLETE">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-ok"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> marked <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> as complete.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="SET_FOLLOWUP">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
						<div class="panel-body">
							<span ng-show="activity.arguments.length > 0">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> set a follow-up for <time>{{activity.arguments[0] | date:'yyyy-MM-dd HH:mm'}}</time> on <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							</span>
							<span ng-show="activity.arguments.length == 0">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> deleted the follow-up from <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							</span>
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="FOLLOWUP_EXPIRED">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
						<div class="panel-body">
							The follow-up for <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> expired at <time>{{activity.arguments[0] | date:'yyyy-MM-dd HH:mm'}}</time>.
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="MARKED_ACTION_REQUIRED">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<div ng-show="activity.arguments[0] == 'true'"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
							<div ng-show="activity.arguments[0] == 'false'"><span class="glyphicon glyphicon-check"></span></div>
						</div>
						<div class="panel-body">
							<div ng-show="activity.arguments[0] == 'true'">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> marked <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> as requiring attention.
							</div>
							<div ng-show="activity.arguments[0]  == 'false'">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> resolved <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							</div>
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="ATTACHED">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-file"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> attached <strong>{{activity.arguments[0]}}</strong> to <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="CREATED_LINK">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-link"></span>
						</div>
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user> linked <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> to 
							<a href="{{activity.arguments[1]}}">
								<ng-switch on="activity.arguments[0]">
									<ng-switch-when ng-switch-when="TRELLO_CARD">
										<img ng-src="static/img/trello-mark-blue.png"/>
									</ng-switch-when>
								</ng-switch>
								{{activity.arguments[2]}}
							</a>.
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-when ng-switch-when="SET_CONTACT">
						<div class="panel panel-default panel-outline">
						<div class="panel-heading icon">
							<span class="glyphicon glyphicon-envelope"></span>
						</div>
						<div class="panel-body">
							<div ng-show="{{activity.arguments.length}}">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> linked <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document> to the contact <a class="contact" href="#/contact/{{activity.arguments[0]}}">{{activity.arguments[1]}}</a>.
								<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
							</div>
							<div ng-hide="{{activity.arguments.length}}">
								<dms-user user-id="activity.userId" name="activity.username"></dms-user> removed the linked contact from <dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>.
								<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
							</div>
						</div>
						</div>
					</ng-switch-when>
					<ng-switch-default ng-switch-default>
						<div class="panel panel-default panel-outline">
						<div class="panel-body">
							<dms-user user-id="activity.userId" name="activity.username"></dms-user>
							{{activity.type}}
							<dms-document doc-id="activity.documentId" name="activity.documentName"></dms-document>
							<pre>{{activity.arguments}}</pre>
							<time>{{activity.timestamp | date:'yyyy-MM-dd HH:mm'}}</time>
						</div>
					</ng-switch-default>
				</ng-switch>
			</ng-switch-when>
		</ng-switch>
	</ng-repeat>
</div>
