/* documents list page */
.document-list .document-description {
	font-style: italic;
	max-height: 50px;

	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  
	overflow: hidden;
	text-overflow: ellipsis;
}

.document-list .user {
	white-space: nowrap;
}
