<div class="well">
	<div class="pane-body">

		<form class="form-inline">
			<h3 class="pull-up">Search term</h3>

			<div class="input-group">
				<input autofocus="autofocus" class="form-control" placeholder="Search contacts" ng-model="term"></input> <span class="input-group-btn">
					<button class="btn btn-primary" type="submit" ng-click="searchNow()">Search</button>
				</span>
			</div>
			<div class="text-muted">Searching contact name.</div>
		</form>
	</div>
</div>

<div ng-show="results">
<h1 class="skip-top-unrelated">Search results</h1>
<div class="search-results">
<table class="table">

<tr ng-repeat="contact in results">
<td>
	<span class="address-name">
		<a href="#/contact/{{contact.id}}">{{contact.name}}</a>
	</span>
	<span ng-show="contact.city">
		({{contact.city}})
	</span>
</td>
</tr>
</table>
</div>
<div class="well">
Didn't find what you were looking for? <a href="#/contact/new">Create a new contact.</a>
</div>
</div>
