.thumbnail .attachment-name {
	font-weight: bold;
}

#comments form textarea {
	width:100%;
}

/** document links */
ul.link-list li {
	margin-top:1ex;
	margin-bottom:1ex;	
}

#trelloModal textarea {
	width:100%;	
}
