.document {
    .document-margin {
        border-left:3px solid #5bc0de;
        padding-left:2ex;
        h1, h2, h3, h4, h5 {
            color: #337ab7;
        }
    }
    .document-main {
    }
    img.preview {
        border:1px solid #aaa;
        box-shadow: 3px 3px 5px 0px #888888;
        margin-bottom:10px;
    }
}

.preview-container {
    position:relative;
    text-align:center;

    .preview {
        width:95%;
    }
    .preview-actions {
        position:absolute;
        display:none;
        top: 0;
        width:100%;
        background-color:rgba(0.5,0.5,0.5,0.5);
        color:white;
        padding:0ex;
        text-align:center;

        a {
            color:white;
        }

        .button {
            padding:2ex;
        }
        .button:hover {
            background-color:rgba(0.8,0.8,0.8,0.5);
        }
        .caption {
            padding:2ex;
            display:inline-block;
            .attachment-name {
                font-weight:bold;
            }
        }

    }
}

.preview-container:hover .preview-actions {
    display:block;
}

.thumbnail .attachment-name {
	font-weight: bold;
}

#comments form textarea {
	width:100%;
}

/** document links */
ul.link-list li {
	margin-top:1ex;
	margin-bottom:1ex;	
}

#trelloModal textarea {
	width:100%;	
}

.preview-tabs {
     display: flex;
     flex-flow:row;
     align-items: stretch;
     margin-top:1ex;
     border-top:1px solid #aaa;

    .preview-tab {
        width: 25%;
        display:inline-block;
        margin-right:2ex;
        margin-top:-1px;
        border-radius:0 0 4px 4px;
        border:1px solid #aaa;
        background-color:#e8e8e8;
        img {
            margin-top:10px;
            margin-bottom:10px;
        }
    }

    .preview-tab.active {
        border-top:transparent;
        background-color:white;
    }

    .preview-thumbnail {
        height:100%;
        margin: 0;
        position:relative;
        border:none;
        text-align:center;
        position:relative;
    }

    .caption {
        padding-top:1ex;
        padding-bottom:1ex;
        font-weight:bold;
        background-color: rgba(0,0,0,0.5);
        color:white;
    }

    .caption {
        display:none;
        position:absolute;
        bottom:50%;
        width:100%;
    }
    .preview-thumbnail:hover .caption, .thumbnail-text:hover .caption  {
        display:block;
    }

    .thumbnail-text {
        height:100%;
        margin: 0;
        text-align: center;
        position:relative;

        .thumbnail-icon {
            width:100%;
            font-size:500%;
            position:absolute;
            top:25%;
        }
    }

}
