<div>
	<form role="form">

		<div class="form-group">
			<label for="add-link-title">Link title</label> 
			<input class="form-control" ng-model="addLink.title" ng-required="true" id="add-link-title" />
		</div>

		<div class="form-group">
			<label for="add-link-url">URL</label>
			<input class="form-control" ng-model="addLink.url" ng-required="true" id="add-link-url" />
		</div>
		
		<div class="form-group">
			<button class="btn btn-primary" ng-disabled="addLink.submitting || !addLink.isComplete()" ng-click="addLink.submit()">Add link <dms-loading-indicator loading="addLink.submitting"></dms-loading-indicator></button>
		</div>
	</form>
</div>