<div>
	<p ng-show="document.actionRequired">
		Someone has marked this document because it requires your attention. An action could be sending a response or paying an invoice. Please read the comment feed to learn more about what is required for this particular document. After doing so, please click on &quot;Resolve&quot; below.
		It is recommended to leave a comment before resolving.
	</p>
	<p ng-hide="document.actionRequired">
		If this document requires someone's attention, such as sending a response or paying an invoice, you can mark it here. Please leave a meaningful comment so they know what to do.
	</p>
	<form role="form">

		<div class="form-group">
			<label for="action-required-comment">Leave a comment (optional)</label>
			<textarea id="action-required-comment" class="form-control" ng-model="actionRequired.comment"></textarea>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="actionRequired.submit()">
				<span ng-show="!document.actionRequired">Action required!</span>
				<span ng-show="document.actionRequired">Got it. This is done!</span>
				<dms-loading-indicator loading="actionRequired.submitting">
			</dms-loading-indicator></button>
		</div>
	</form>
</div>
