<div class="well">
	<div class="pane-body">

		<form class="form-inline">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="pull-up">Search term</h3>

					<div class="input-group">
						<input autofocus="autofocus" class="form-control" placeholder="Search documents" ng-model="search.term"></input> <span class="input-group-btn">
							<button class="btn btn-primary" type="submit" ng-click="searchNow()" >Search</button>
						</span>
					</div>
					<div class="text-muted">Searching title and document description.</div>
				</div>

				<div class="col-lg-6">
					<h3 class="pull-up">Date range</h3>
					<div class="skip-related-bottom">
						Show documents <select class="form-control" ng-model="dateRefersTo">
							<option>archived</option>
							<option>updated</option>
						</select> within date range {{fromDate|date}} &ndash; {{toDate|date}}.
					</div>

					<input id="search-date-slider" type="text" data-slider-id='ex1Slider' style="width: 100%;"></input>
				</div>
			</div>
		</form>
	</div>
</div>

<div ng-show="search.results">
	<h1 class="skip-top-unrelated">Search results</h1>
	<div class="search-results">
		<dms-document-list documents="search.results"></dms-document-list>
	</div>
</div>