<div class="page-header">
	<h1>Document Sources</h1>
</div>


<div ng-repeat="source in sources">
	<div ng-switch="source.type">
		<div ng-switch-when="gdrive" class="panel panel-primary">
			<div class="panel-heading">
				Fetch documents from Google Drive folder
				<span class="pull-right clickable-icon" ng-click="removeSource(source)" type="button">
					<span class="glyphicon glyphicon-trash" aria-hidden="true" class="clickable-icon"></span>
				</span>
			</div>
			<div class="panel-body">
				<form role="form">
					<p>
							The source folder on your GDrive will be monitored for changes. When a file is received, it is ingested into Themis and moved
							to an archive folder on GDrive to prevent it from being ingested a second time. For this to work, you need to authorize us to access your
							Google Drive account. Only one Google account can be linked to one Themis user.
					</p>

					<gdrive-fileselector folder="source.gdriveSourceFolderId" label="'Source folder'"></gdrive-fileselector>
					<gdrive-fileselector folder="source.gdriveArchiveFolderId" label="'Archive folder'"></gdrive-fileselector>
				</form>

				<a class="btn btn-primary" role="button" href="{{googleOAuthURL}}">Authorize Google</a>
				<a class="btn btn-danger" role="button" href="{{googleRevokeURL}}">Revoke authorization</a>
				<div ng-switch="getGoogleAuthState()">
					<div ng-switch-when="skipped" class="alert alert-success"><strong>Success.</strong> Authorization to Google Drive was already granted. Re-using existing token.</div>
					<div ng-switch-when="success" class="alert alert-success"><strong>Success.</strong> Successfully authorized to access Google Drive account.</div>
					<div ng-switch-when="revoked" class="alert alert-success"><strong>Revoked.</strong> Revoked authorization to access Google Drive account.</div>
					<div ng-switch-when="error" class="alert alert-danger"><strong>Error.</strong> Access to Google Drive account not authorized.</div>
				</div>
			</div>
		</div>

		<div ng-switch-when="file" class="panel panel-primary">
			<div class="panel-heading">
				Fetch documents from the file system
				<span class="pull-right clickable-icon" ng-click="removeSource(source)" type="button">
					<span class="glyphicon glyphicon-trash" aria-hidden="true" class="clickable-icon"></span>
				</span>
			</div>
			<div class="panel-body">
				<p>The directory on the server's file system will be monitored for changes. When a file is received, it is ingested into Themis and moved
					to its storage folder (and is consequently removed from the incoming folder).
				<form role="form">
					<div class="form-group">
						<label for="fileSourceFolder">Source folder</label>
						<div>
							<input type="text" class="form-control" id="fileSourceFolder" ng-model="source.fileSourceFolder">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div ng-switch-default class="panel panel-primary">
			<h3>Unknown source type</h3>
			<pre>{{source}}</pre>
		</div>
	</div>
</div>

<div>
	<button class="btn btn-default" type="button" ng-click="addGDriveSource()">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add GDrive source
	</button>
	<button class="btn btn-default" type="button" ng-click="addFileSource()">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add file system source
	</button>

	<button class="btn btn-primary pull-right" type="button" ng-click="save()">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		Save configuration
	</button>
<div>
